@{
    ViewData["Title"] = "О проекте";
}

<link rel="stylesheet" href="~/css/formStyle.css">
<link rel="stylesheet" href="~/css/authorizationStyle.css">

<fieldset>

        <legend>
            Описание системы для вас
        </legend>

        <p>
           @ViewData["Description"]
        </p>

    </fieldset>































