@{
    ViewData["Title"] = "Ошибка доступа";
    Layout = "~/Views/Error/_ErrorLayout.cshtml";
}


<h1>Нет доступа к данной странице</h1>
<p>У роли "@ViewData["Role"]" нет прав на посещение данной страницы в связи с правилами данного приложения</p>
<p><a href="~/Home/MainMenu">Вернуться в меню</a></p>