@{
    ViewData["Title"] = "Ошибка авторизации";
    Layout = "~/Views/Error/_ErrorLayout.cshtml";
}


<h1>Невозможно авторизоваться в системе</h1>
<p>Произошла ошибка при попытке авторизации. Проверьте введённые данные.</p>
<p><a href="~/Account/Authorization">Попробовать ещё раз</a></p>