@{
    ViewData["Title"] = "Ошибка регистрации";
    Layout = "~/Views/Error/_ErrorLayout.cshtml";
}


<h1>Невозможно зарегистрировать аккаунт</h1>
<p>Произошла ошибка при попытке регистрации вашего аккаунта. Возможно такой пользователь уже существует.</p>
<p><a href="~/Account/Registration">Попробовать ещё раз</a></p>