#AdditionalTask
{
    color: #fff;
    position: absolute;
    display: none;
    background: #4c6379;
    border: 4px solid #2f3066;
    box-shadow: 0 0 5px 6px #0e1e39;
    top: 31%;
    left: 33%;
    width: 30%;
    height: 20%;
}

#AdditionalTask span
{
    margin: 0 20% 0;
}

#AdditionalTask span:hover
{
    cursor: pointer;
    font-size: large;
}

#AdditionalTask h2
{
    text-align: center;
}

select
{
    width: 90%;
    height: 50%;
    border-radius: 3px;
    margin: 10% 5% 0;
}
table
{
    width: 80%;
    margin: 0 10% 1%;
}
.Data:hover
{
    cursor: pointer;
    background: #37474f;
}
button
{
    width: 80%;
    height: 5%;
}
@keyframes InputAnimation
{
    from
    {
        top: -500px;
    }

    to
    {
        top: 31%;
        left: 33%;
    }
}

.Input
{
    animation: InputAnimation 1s;
}
