button[type="submit"]:hover
{
    cursor: pointer;
}

legend
{
    text-align: center;
}

button[type="submit"]:hover
{
    background: #37474f;
    color: white;
}

button[type="submit"]
{
    background: white;
    color: #37474f;
    width: 20em;
    height: 3em;
    border-radius: 3em;
}

input
{
    color: black;
    border: 1px solid black;
    height: 2em;
    width: 50em;
}

fieldset
{
    padding-left: 2em;
    width: 45em;
    border: 0.2em solid black;
}
