@{
    ViewData["Title"] = "Меню";
}
<link rel="stylesheet" href="~/css/menuStyle.css">
<div class="menu">
    <ul>
        <li onclick="window.location.href = '/Functionality/Contacts'">О системе<img style="margin: 4.5em 0 0 2em;" width="100" height="100" src="~/Resources/Network.png"></li>
        <li onclick="window.location.href = '/Functionality/Contacts'">Контакты<img style="margin: 4.5em 0 0 2.5em;" width="100" height="100" src="~/Resources/Contacts.png"></li>
        <li onclick="window.location.href = '/Functionality/PersonalArea'">Личный кабинет<img style="margin: 4.5em 0 0 2.2em;"width="100" height="100" src="~/Resources/PersonalArea.png"></li>
        <li onclick="window.location.href = '/Home/TechnicalSupport'">Техническая поддержка<img style="margin: 4.5em 0 0 4.8em;" width="100" height="100" src="~/Resources/TechnicalSupport.png"></li>
        <li onclick="window.location.href = '/Functionality/AdminPanel'">Панель администратора<img style="margin: 4.5em 0 0 4em;" width="100" height="100" src="~/Resources/Admin.png"></li>
    </ul>
</div>