@{
    ViewData["Title"] = "Меню";
}
<link rel="stylesheet" href="~/css/menuStyle.css">
<div class="menu">
    <ul>
        <li onclick="window.location.href = '/Functionality/SystemInformation'">О проекте<img style="margin: 4.5em 0 0 2.2em;" width="100" height="100" src="~/Resources/Network.png"></li>
        <li onclick="window.location.href = '/Functionality/Contacts'">Контакты<img style="margin: 4.5em 0 0 2.7em;" width="100" height="100" src="~/Resources/Contacts.png"></li>
        <li onclick="window.location.href = '/Functionality/PersonalArea'">Личный кабинет<img style="margin: 4.5em 0 0 3.3em;"width="100" height="100" src="~/Resources/PersonalArea.png"></li>
        <li onclick="window.location.href = '/Functionality/RoleEditor'">Редактор ролей<img style="margin: 4.5em 0 0 2.8em;" width="100" height="100" src="~/Resources/RoleRedactor.png"></li>
        <li onclick="window.location.href = '/Functionality/AdminPanel'">Панель администратора<img style="margin: 4.5em 0 0 5.1em;" width="100" height="100" src="~/Resources/Admin.png"></li>
    </ul>
</div>